<!DOCTYPE html>
<html lang="en">

<head>
  <title>Students</title>
</head>

<body>
  <h1>Student Profiles</h1>

  <ul>
    {% for student in students %}
    <li>
      <h2>{{ student.name }}</h2>

      {% if student.hasGoodGrade %}
      <p>You are a top student</p>
      {% else %}
      <p>You need to work harder</p>
      {% endif %}

      <h3>Subjects:</h3>
      <ul>
        {% for subject in student.subjects %}
        <li>{{ subject }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</body>

</html>