<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }} | My Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <nav>
    <a href="{{ url_for('home') }}">Home</a> |
    <a href="{{ url_for('about') }}">About</a> |
    <a href="{{ url_for('users') }}">Users</a> |
    <a href="{{ url_for('form') }}">Form</a>
  </nav>
  <hr>
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>